<!doctype html>
<?php
session_start();
$connect = mysql_pconnect("localhost", "root", "root1") or die(mysql_error());
mysql_select_db("boutique", $connect);
$UserId = $_SESSION['UserId'];
$result = mysql_query("SELECT CartId FROM cart WHERE UserId = '$UserId'") or die(mysql_error());
$CartId = mysql_result($result, 0);

$result = mysql_query("SELECT * FROM cartitem WHERE CartId = '$CartId'");
$i = 0;
while ($row = mysql_fetch_assoc($result)) {
  $i++;
  }
?>
<html ng-app="DemoApp">
    <head>
        <meta charet="utf-8">
        <title>Wingtip Toys</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="./style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
      <header>
      <a href="index.html" class="lienmenu" style="background-image:url(img/header.png); background-repeat: no-repeat; background-size: 100% auto; background-position: center center; width:auto; height:120px; display:block;"></a>
        <div href="#" class="lienmenu" style="background-image:url(img/bas-header.png); margin-top: 5px; background-repeat: no-repeat; background-size: 100% auto; background-position: center center; width:auto; height:20px; display:block;">
          <div style="text-align : center">
              <a href="indexUser.html" style="color : white;padding-right: 50px;font-size:17px; cursor: pointer">Accueil</a>
              <a href="details.html" style="color : white;padding-right: 50px;font-size:17px; cursor: pointer">Top vente</a>
              <a href="contact.html" style="color : white;padding-right: 50px;font-size:17px; cursor: pointer">Contact</a>
              <a href="nous.html" style="color : white;padding-right: 50px;font-size:17px; cursor: pointer">A propos</a>
              <a href="panier.html" style="color : white;padding-right: 50px;font-size:17px; cursor: pointer">panier ( <?php echo $i; ?> )</a>
              <a href="../service/function.php/?tag=logout" style="color : white;padding-right: 50px;font-size:17px; cursor: pointer">Deconnexion</a>
          </div>

        </div>
      </header>

        <div class="container" ng-controller="MainCtrl as MainCtrl">
            <div class="">

            </div>
            <div class="intro">
                <input ng-model="search"/>
                <?php if(isset($_SESSION['success'])){?>
                          <p class="success"> <?php echo $_SESSION['success'] ?> </p>
                <?php } unset($_SESSION['success']); ?>
                <div ng-controller="FilterCtrl as FilterCtrl">

                    <div class="filter">Tranche d'age :
                        <span
                            class="label label-info {{ 'book__Level--' + Level }} "
                            ng-class="{'label--selected': FilterCtrl.isSelected('Levels', Level) }"
                            ng-click="FilterCtrl.toggle('Levels', Level)"
                            ng-repeat="Level in MainCtrl.Levels "
                        >{{ Level }}
                        </span>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row books">
                <div class="book col-xs-12 col-md-6 col-lg-4" ng-repeat="book in MainCtrl.books|filterBooks|filter:search">
                    <a ng-href="{{ book.url }}"><img class="book__img" ng-src="img/Products/{{ book.imagePath }}" width="120"/></a>
                    <div class="book__title"><a ng-href="{{ book.url }}">{{ book.name }}</a></div>
                    <div class="book__author"><a ng-href="{{ book.authorUrl }}">{{ book.description }}</a></div>
                    <span class="book__Level label" ng-class="level">{{ book.Level }}</span>
                    <span class="" >{{ book.price }}$</span>
                    
                    <form method="POST" action="../service/function.php?tag=addToCart">
                      <p><input type="hidden" name="ProductId" value="{{ book.ProductId }}"></P>
                      <p><input type="hidden" name="UserId"   value= <?php $_SESSION['UserId'] ?> > </P>
                      <p><input type="submit" class="bouton"  Value="Ajouter au panier"></p>
                    </form>
                </div>
            </div>
        </div>
       <div ng-include="'footer.htm'"></div>